@import url("https://fonts.google.com/specimen/Public+Sans");

body {
  font: 18px/1.5 "Public Sans", sans-serif;
  margin: 0;
}
/* header elements */
header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  flex-wrap: wrap;
  margin-top: 10px;
}
/* easybank img */
header .logo {
  padding: 0;
  margin-left: -30%;
}

.menuBack,
.page1-1,
.hamburger {
  display: none;
}
.menu {
  margin-left: -6%;
}
/* menu section */
header ul {
  padding: 0;
  margin-top: 10px;
}

header li {
  display: inline;
  padding: 0 10px 0 10px;
  color: #989aa8;
  font-size: 17px;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
}
/* when cursor hover on menu */
header li:hover {
  border-bottom: 3px solid hsl(143, 75%, 47%);
  padding-bottom: 20px;
  color: #4e4e4e;
}

/* request invite button */
button {
  color: white;
  font-size: 15px;
  font-weight: 550;
  width: 160px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

header button {
  margin-bottom: 10px;
  margin-right: -120px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* for page-1 */

.mainTitle {
  background-color: rgb(250, 250, 250);
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* background-image */
.mainTitle {
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position-x: 48vw;
  background-position-y: -200px;
  overflow: hidden;
}
.page-1 p {
  color: #989aa7;
}

.page-1 {
  margin: 70px;
  width: 35%;
  padding: 40px;
}

.page-1 h1 {
  color: #1f2231;
  font-weight: 350;
  font-size: 50px;
  margin-bottom: 0px;
}
/* mobile image */
.cropped img {
  transform: translateX(110px) translateY(-70px);
}

/* for page-2 */
.page-2 {
  background-color: hsl(210, 8%, 95%);
  display: flex;
  flex-direction: column;
}

.box1 {
  margin-top: 140px;
  margin-left: 120px;
  margin-bottom: 50px;
  width: 38%;
}

.box h3 {
  color: #4c525a;
  font-weight: 10;
  font-size: 20px;
}
.box {
  margin: 30px;
  width: 20%;
}

.box1 h4 {
  font-weight: 10;
  font-size: 40px;
  color: #3d4349;
  margin: 0;
}

.box1 p,
.box p {
  color: #989aa7;
}

.box2-container {
  display: flex;
  width: 90%;
  align-self: center;
  margin-left: 30px;
}

/* page-3 */

.article {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article h3 {
  color: #4c525a;
  font-weight: 10;
  font-size: 35px;
  align-self: flex-start;
  margin-left: 120px;
  margin-top: 100px;
}

.cards {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  width: 90%;
  margin-bottom: 65px;
}
.card {
  background-color: #ffffff;
  border-radius: 3px;
  width: 20%;
  box-shadow: 0 2px 10px rgba(112, 112, 112, 0.1);
  text-align: left;
}
.card img {
  border-radius: 3px;
  width: 100%;
  height: 50%;
}
.text {
  height: 50%;
  display: flex;
  text-align: left;
  flex-direction: column;
  margin: 38px;
  margin-top: 10px;
  height: 50%;
}
.card p {
  color: #989aa7;
  font-size: 13px;
  margin-top: 1px;
}
.author {
  color: #989aa7;
  font-size: 12px;
  margin-bottom: 5px;
}
.card h4 {
  margin: 0;
  color: #4c525a;
}
.card h4:hover {
  color: hsl(155, 68%, 65%);
  cursor: pointer;
}

/* footer section */
footer {
  background-color: #2c314c;
  display: flex;
  justify-content: space-around;
  color: white;
  height: 170px;
  align-items: center;
}

footer li {
  list-style-type: none;
  margin-left: -120px;
}
footer li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

footer .logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

footer .media {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
footer .media img:hover {
  cursor: pointer;
  stroke: aquamarine;
}

.support li {
  margin-top: 8px;
}
.support ul {
  margin-top: 40px;
}

.support a:hover {
  color: hsl(143, 75%, 47%);
  cursor: pointer;
}
footer .footerLeft {
  margin-top: 20px;
}
footer .footerLeft div {
  text-align: end;
  opacity: 0.4;
}

.footerLeft button {
  margin: 0;
  margin-bottom: 30px;
}

/* for mobile */

@media (max-width: 760px) {
  /* header of page */
  header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  section .menuBack {
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(73, 93, 109, 0.19), 0 6px 6px rgba(77, 66, 107, 0.23);
    justify-content: center;
    background-color: white;
    width: 85%;
    height: 35%;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 10px;
  }
  .popMenu {
    background: url(./images/bg-intro-mobile.svg) no-repeat;
    background-size: 390px;
    background-position-y: -30px;
    background-position: top right;
    display: none;
    background-color: white;
    border: 1px solid white;
    height: 900px;
    margin: 0;
    margin-bottom: -10%;
  }

  .page1-1 {
    width: 100%;
    height: 40%;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 60px;
  }
  .page1-1 button {
    margin: 0;
  }
  .page1-1 p {
    width: 95%;
    font-size: 16px;
    color: #989aa7;
  }

  .page1-1 h1 {
    color: #1f2231;
    font-weight: 350;
    font-size: 40px;
    margin-bottom: 0px;
  }
  .popMenu li {
    display: block;
    text-align: center;
    color: black;
    font-weight: 10;
    margin-top: 15px;
  }

  .show {
    display: block;
  }

  header .logo {
    margin: 0;
    margin-left: -60px;
    margin-top: 10px;
  }
  header .hamburger {
    background: none;
    margin: 0;
    margin-left: 120px;
    margin-top: 2px;
    width: 20%;
    display: block;
  }

  header .menu,
  header button {
    display: none;
  }

  /* main page  */
  .mainTitle {
    flex-direction: column-reverse;
    width: 100%;
    background: none;
    height: 700px;
    align-items: center;
    align-self: center;
    text-align: center;
    background: url(./images/bg-intro-mobile.svg) no-repeat;
    background-position: top right;
    background-size: 390px;
    background-position-y: -30px;
  }
  .cropped {
    transform: translateY(-13px);
  }
  .hidePage {
    display: none;
  }
  .page-1 {
    height: 35%;
    width: 95%;
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
  }
  .page-1 button {
    margin: 0;
  }
  .page-1 h1 {
    font-size: 38px;
  }
  .page-1 p {
    font-size: 16px;
  }
  .cropped img {
    transform: none;
    scale: 1.5px;
    height: 100%;
    width: 100%;
    margin-right: 10px;
    transform: translateY(-0px);
  }

  /* page 2 */
  .page-2 {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  .box1 {
    text-align: center;
    width: 94%;
    margin: 0;
    margin-top: 30px;
  }

  .box2-container {
    align-items: center;
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .box {
    width: 90%;
    text-align: center;
  }

  /* page 3 */
  .article {
    background-color: #f7f7f7;
    flex-direction: column;
  }
  .article h3 {
    align-self: center;
    margin: 0;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
    align-self: center;
    width: 100%;
    margin: 0;
    margin-bottom: 10%;
  }
  .card {
    width: 85%;
    box-shadow: 0 2px 10px rgba(112, 112, 112, 0.1);
    margin: 8px;
  }

  /* footer section for mobile */
  footer {
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;
  }
  footer .media {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: -17px;
  }
  footer .logo-2 {
    margin-right: 30px;
  }
  .support ul {
    margin-top: -15px;
  }
  .support li {
    margin-top: 10px;
  }
  footer .support {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 70px;
  }
  footer .footerLeft {
    justify-content: center;
    align-items: center;
  }
  .footerLeft button {
    margin-left: 50px;
  }
}
