@import url("https://fonts.google.com/specimen/Public+Sans");

body {
  font: 17px/1.5 "Public Sans", sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
}
/* header elements */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-top: 20px;
}
/* easybank img */
header img {
  padding: 0;
  margin-left: 120px;
}

/* menu section */
header ul {
  padding: 0;
  margin-top: 10px;
}

header li {
  display: inline;
  padding: 0 10px 0 10px;
  color: #989aa8;
  font-size: 17px;
  font-family: "Public Sans", sans-serif;
  cursor: pointer;
}
/* when cursor hover on menu */
header li:hover {
  border-bottom: 3px solid hsl(143, 75%, 47%);
  padding-bottom: 20px;
  color: #4e4e4e;
}

/* request invite button */

button {
  color: white;
  font-size: 15px;
  font-weight: 550;
  margin-right: 200px;
  width: 160px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

header button {
  margin-bottom: 10px;
  margin-right: 80px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.mainTitle {
  display: flex;
  height: 600px;
  background-color: rgb(250, 250, 250);
}

.page-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 120px;
  width: 45%;
}

.page-1 h1 {
  color: #1f2231;
  font-weight: 350;
  font-size: 50px;
  margin-bottom: 0px;
}

.page-1 p {
  color: #989aa7;
  margin-top: 0px;
}

section .img {
  width: 60%;
  background: url("./images/bg-intro-desktop.svg") no-repeat 130px -200px;
  background-size: 150%;
}

.page-2 {
  background-color: hsl(220, 7%, 92%);
  display: flex;
  flex-direction: column;
  padding: 80px;
  padding-top: 80px;
  flex-wrap: wrap;
}

.box1 {
  width: 45%;
  margin-left: 40px;
}

.box1 h4 {
  font-weight: 10;
  font-size: 40px;
  color: #3d4349;
  margin: 0;
}

.box1 p,
.box p {
  color: #989aa7;
}

.box2-container {
  display: flex;
  margin-top: 30px;
  margin-left: -20px;
}

.box {
  margin: 15px;
  padding: 50px;
}

.box h3 {
  color: #4c525a;
  font-weight: 10;
  font-size: 20px;
}
